<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <script type="text/javascript"
            src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div th:fragment="footer">

    <div class="container">

        <!--<footer>-->
        <!--&lt;!&ndash; this is footer &ndash;&gt;-->
        <!--&copy; 2017 mkyong.comaaaaaaaaaaaa-->
            <!--&lt;!&ndash;<span sec:authorize="isAuthenticated()">&ndash;&gt;-->
                <!--&lt;!&ndash;| Logged user: <span sec:authentication="name"></span> |&ndash;&gt;-->
                <!--&lt;!&ndash;Roles: <span sec:authentication="principal.authorities"></span> |&ndash;&gt;-->
                <!--&lt;!&ndash;<a th:href="@{/logout}">Sign Out</a>&ndash;&gt;-->
            <!--&lt;!&ndash;</span>&ndash;&gt;-->

        <!--<script type="text/javascript"-->
                <!--src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

        <!--</footer>-->

        <!-- Footer -->
        <footer class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="https://www.asset-technology.com/" target="_blank"> Asset Technology Group</a>
            </div>


        </footer>
        <!-- Footer -->
    </div>

</div>
</body>
</html>